:root {
  --header-height: 60px;
}

/* {
  box-sizing: border-box;
}*/

body { 
   padding-top: var(--header-height);
   font-family: 'Segoe UI', Arial, sans-serif; 
   margin: 0; 
   background: #f3f3f3; 
}
header { 
   background: linear-gradient(90deg, #0000ff,#00bbff,#00ffff);
   color: #fff;
   padding: 1rem 2rem;
   display: flex;
   align-items: center;
   justify-content: space-between; 
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: var(--header-height);
   z-index: 1000;  
   opacity: 0.65;
   min-width: 0;
}
header h1 { 
   margin: 0;
   font-size: 1.5rem; 
   flex-shrink: 0;
}
header nav {
   flex-shrink: 1;
   min-width: 0;
   overflow-x: auto;
   white-space: nowrap;
   /* left: 10px;  <-- à supprimer */
}
nav a { 
   color: #fff; 
   margin-left: 2rem;
   text-decoration: none;
   font-weight: 500; 
}
@media (max-width: 600px) {
   header {
      padding: 1rem 0.5rem;
   }
   nav a {
      margin-left: 1rem;
   }
}